@import "Home.css";
@import "Art.css";
@import "Sketchbook.css";
@import "Attention.css";

/* DESKTOP (GENERAL) */
body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Garamond", "Times New Roman", "Courier New", "serif";
  /* background-color: antiquewhite; */
}

* {
  box-sizing: border-box;
}

/* LANDING */
.landingContainer {
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  text-align: center;
  place-items: center;
  /* gap: 5%; */
}
.landingSubtitle {
  text-decoration: italic;
}

/* NAVIGATION */
.navContainer {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  text-align: center;
  place-items: center;
  gap: 5%;
  border-bottom: solid 1.5px black;
  padding-bottom: 1%;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.navBarDiv {
  width: 100%;
}
.navLink {
  margin-right: 20px;
  font-size: large;
  color: black;
}
.active-navLink {
  margin-right: 20px;
  font-size: large;
  color: blue;
}
a:visited {
  color: blue;
}
.navLink:visited,
.headerNavLink:visited {
  color: black;
}
.headerNavLink {
  color: black;
  text-decoration: none;
}
.navLink:last-child,
.active-navLink:last-child {
  margin-right: 0;
}

/* WIP */
.wipDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
