/* ART */

.artContainer {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.artTitle {
  width: 100%;
  max-width: 60%;
}
.projectContainer {
  width: 100%;
  max-width: 60%;
  /* padding-top: 3%; */
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.projectDiv {
  border: solid 1.5px black;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 100%;
}

.projectImage {
  width: 100%;
  height: auto;
  border: solid 1.5px black;
  margin-bottom: 5%;
}
.projectText,
.projectDesc {
  /* display: -webkit-box;
  -webkit-line-clamp: 3; */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1em;
}
.projectDesc {
  height: 3em;
}
